body {
    
}

#hero {
    background: black;
    background-image: url("../assets//img/pexels-karolina-grabowska-4386476.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: -1;   
    background-size: cover;
    height: 95vh;
    width: 100%;
}

#hero-box {
margin-top:25%;
color: whitesmoke;
justify-content: center;
padding: 40px 30px 20px;
background: rgba(0,0,0, .4);
height: 50%;
position: absolute center;
}

#title {
    font-size: 80px;
}

.info {
    color:gray;
    height: cover;
}

.info-box {
    color: black;
    margin-top: 50px;
    padding: 15px;
}

.info-img {
    width: 35%;
}
